In [13]:
import pandas as pd
from scipy.io import loadmat
import numpy as np
import os

In [2]:
!pwd

/home/dell/Documents/BRITS_copy

In [33]:
for filename in os.listdir('../DCMG_data/Cyber/Voltage'):
    data_dict1 = loadmat(os.path.join('../DCMG_data/Cyber/Voltage', filename))
    del data_dict1['__header__'], data_dict1['__version__'], data_dict1['__globals__'], data_dict1['sim_version'], data_dict1['sim_date']
    c = ['sim_name_y', 'sim_desc_y', 'sim_unit_y', 'sim_name_x', 'sim_unit_x']
    for u in c:
        del data_dict1[u]
    arr = data_dict1['x']
    col = data_dict1.keys()
    keys = list(col)
    keys.remove('x')
    for i in keys:
#         print(i, data_dict1[i].shape)
        arr = np.hstack((arr, data_dict1[i].reshape(-1, 1)))
    df = pd.DataFrame(arr, columns = ['x']+keys)
    df.to_csv(os.path.join('../DCMG_data/Cyber_csv/Voltage', str(os.path.splitext(filename)[0])+ '.csv'), index = False)

In [34]:
for filename in os.listdir('../DCMG_data/Cyber/Freq'):
    data_dict1 = loadmat(os.path.join('../DCMG_data/Cyber/Freq', filename))
    del data_dict1['__header__'], data_dict1['__version__'], data_dict1['__globals__'], data_dict1['sim_version'], data_dict1['sim_date']
    c = ['sim_name_y', 'sim_desc_y', 'sim_unit_y', 'sim_name_x', 'sim_unit_x']
    for u in c:
        del data_dict1[u]
    arr = data_dict1['x']
    col = data_dict1.keys()
    keys = list(col)
    keys.remove('x')
    for i in keys:
#         print(i, data_dict1[i].shape)
        arr = np.hstack((arr, data_dict1[i].reshape(-1, 1)))
    df = pd.DataFrame(arr, columns = ['x']+keys)
    df.to_csv(os.path.join('../DCMG_data/Cyber_csv/Freq', str(os.path.splitext(filename)[0])+ '.csv'), index = False)

In [21]:
data_dict1 = loadmat('../DCMG_data/Cyber/Voltage/Vref_800.mat')

In [4]:
del data_dict1['__header__'], data_dict1['__version__'], data_dict1['__globals__']

In [6]:
del data_dict1['sim_version'], data_dict1['sim_date']

In [7]:
data_dict1.keys()

dict_keys(['x', 'Cont1_PL1', 'Cont1_QL1', 'Cont1_IL_d', 'Cont1_IL_q', 'Cont1_VL_d', 'Cont1_VL_q', 'Cont2_PL1', 'Cont2_QL1', 'Cont2_IL_d', 'Cont2_IL_q', 'Cont2_VL_d', 'Cont2_VL_q', 'Cont3_PL1', 'Cont3_QL1', 'Cont3_IL_d', 'Cont3_IL_q', 'Cont3_VL_d', 'Cont3_VL_q', 'Cont4_PL1', 'Cont4_QL1', 'Cont4_IL_d', 'Cont4_IL_q', 'Cont4_VL_d', 'Cont4_VL_q', 'Cont1_f', 'Cont2_f', 'Cont3_f', 'Cont4_f', 'm1P1_y', 'm2P2_y', 'm3P3_y', 'm4P4_y', 'n1Q1_y', 'n2Q2_y', 'n3Q3_y', 'n4Q4_y', 'VLLrms1_y', 'VLLrms2_y', 'VLLrms3_y', 'VLLrms4_y', 'Vb1rms_a_rms', 'Vb1rms_b_rms', 'Vb1rms_c_rms', 'Vb2rms_a_rms', 'Vb2rms_b_rms', 'Vb2rms_c_rms', 'Vb3rms_a_rms', 'Vb3rms_b_rms', 'Vb3rms_c_rms', 'Vb4rms_a_rms', 'Vb4rms_b_rms', 'Vb4rms_c_rms', 'I1arms_a_rms', 'I1arms_b_rms', 'I1arms_c_rms', 'I2arms_a_rms', 'I2arms_b_rms', 'I2arms_c_rms', 'I3arms_a_rms', 'I3arms_b_rms', 'I3arms_c_rms', 'I1brms_a_rms', 'I1brms_b_rms', 'I1brms_c_rms', 'I2brms_a_rms', 'I2brms_b_rms', 'I2brms_c_rms', 'I3brms_a_rms', 'I3brms_b_rms', 'I3brms_c_rms', 'IRMS1_a', 'IRMS1_b', 'IRMS1_c', 'IRMS2_a', 'IRMS2_b', 'IRMS2_c', 'IRMS3_a', 'IRMS3_b', 'IRMS3_c', 'Bus1_Vdbus', 'Bus1_Vqbus', 'Bus2_Vdbus', 'Bus2_Vqbus', 'Bus3_Vdbus', 'Bus3_Vqbus', 'Bus4_Vdbus', 'Bus4_Vqbus', 'sim_name_y', 'sim_desc_y', 'sim_unit_y', 'sim_name_x', 'sim_unit_x'])

controller 1: active power  
1 => 2, 4
   1
  / \
 2   
 
m1 =>

In [11]:
col = data_dict.keys()

In [17]:
type(col)

dict_keys

In [24]:
keys = list(col)
keys

['Cont1_PL1',
 'Cont1_QL1',
 'Cont1_f',
 'Cont2_PL1',
 'Cont2_QL1',
 'Cont2_f',
 'Cont3_PL1',
 'Cont3_QL1',
 'Cont3_f',
 'Cont4_PL1',
 'Cont4_QL1',
 'Cont4_f',
 'm1P1_y',
 'm2P2_y',
 'm3P3_y',
 'm4P4_y',
 'n1Q1_y',
 'n2Q2_y',
 'n3Q3_y',
 'n4Q4_y',
 'x']

In [25]:
arr = data_dict['x']
keys.remove('x')
for i in keys:
    arr = np.hstack((arr, data_dict[i]))
arr.shape

(20001, 21)

In [10]:
a.shape

(20001, 1)

In [26]:
df1 = pd.DataFrame(arr, columns = ['x']+keys)

In [28]:
df1.head()

,x,Cont1_PL1,Cont1_QL1,Cont1_f,Cont2_PL1,Cont2_QL1,Cont2_f,Cont3_PL1,Cont3_QL1,Cont3_f,...,Cont4_QL1,Cont4_f,m1P1_y,m2P2_y,m3P3_y,m4P4_y,n1Q1_y,n2Q2_y,n3Q3_y,n4Q4_y
0,0.000083,13563.221680,13586.212891,50.000053,13573.213867,13594.291016,49.999912,13560.876953,13585.772461,50.000099,...,13592.289062,49.999931,1.274943,1.275882,1.274722,1.275749,17.662077,17.672577,17.661505,17.669977
1,0.000133,13563.283203,13586.144531,50.000053,13573.132812,13594.406250,49.999912,13560.941406,13585.663086,50.000099,...,13592.378906,49.999935,1.274949,1.275874,1.274728,1.275744,17.661987,17.672729,17.661362,17.670092
2,0.000183,13563.345703,13586.077148,50.000053,13573.049805,13594.521484,49.999912,13561.006836,13585.554688,50.000095,...,13592.466797,49.999935,1.274954,1.275867,1.274735,1.275739,17.661900,17.672878,17.661221,17.670206
3,0.000233,13563.408203,13586.009766,50.000053,13572.964844,13594.634766,49.999916,13561.075195,13585.447266,50.000095,...,13592.554688,49.999935,1.274960,1.275859,1.274741,1.275734,17.661814,17.673025,17.661081,17.670321
4,0.000283,13563.472656,13585.944336,50.000050,13572.876953,13594.746094,49.999916,13561.144531,13585.340820,50.000095,...,13592.640625,49.999935,1.274966,1.275850,1.274747,1.275729,17.661728,17.673170,17.660944,17.670433

In [8]:
df = pd.read_csv('../DCMG_data/Stealth/StealthP1Q1_(0.3to2)sec.csv')

In [12]:
df.columns

Index(['X axis;Cont1.PL1;Cont1.QL1;Cont1.IL_d;Cont1.IL_q;Cont1.VL_d;Cont1.VL_q;Cont1.f;VLLrms1.y;Cont2.PL1;Cont2.QL1;Cont2.IL_d;Cont2.IL_q;Cont2.VL_d;Cont2.VL_q;Cont2.f;VLLrms2.y;Cont3.PL1;Cont3.QL1;Cont3.IL_d;Cont3.IL_q;Cont3.VL_d;Cont3.VL_q;Cont3.f;VLLrms3.y;Cont4.PL1;Cont4.QL1;Cont4.IL_d;Cont4.IL_q;Cont4.VL_d;Cont4.VL_q;Cont4.f;VLLrms4.y;Cont1.f;Cont2.f;Cont3.f;Cont4.f;m1P1.y;m2P2.y;m3P3.y;m4P4.y;n1Q1.y;n2Q2.y;n3Q3.y;n4Q4.y;VLLrms1.y;VLLrms2.y;VLLrms3.y;VLLrms4.y;Vb1rms.a_rms;Vb1rms.b_rms;Vb1rms.c_rms;Vb2rms.a_rms;Vb2rms.b_rms;Vb2rms.c_rms;Vb3rms.a_rms;Vb3rms.b_rms;Vb3rms.c_rms;Vb4rms.a_rms;Vb4rms.b_rms;Vb4rms.c_rms;I1arms.a_rms;I1arms.b_rms;I1arms.c_rms;I2arms.a_rms;I2arms.b_rms;I2arms.c_rms;I3arms.a_rms;I3arms.b_rms;I3arms.c_rms;I1brms.a_rms;I1brms.b_rms;I1brms.c_rms;I2brms.a_rms;I2brms.b_rms;I2brms.c_rms;I3brms.a_rms;I3brms.b_rms;I3brms.c_rms;IRMS1.a;IRMS1.b;IRMS1.c;IRMS2.a;IRMS2.b;IRMS2.c;IRMS3.a;IRMS3.b;IRMS3.c;Bus1.Vdbus;Bus1.Vqbus;Bus2.Vdbus;Bus2.Vqbus;Bus3.Vdbus;Bus3.Vqbus;Bus4.Vdbus;Bus4.Vqbus;'], dtype='object')